<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IStaticCodeAnalysisService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52218/StaticCodeAnalysisService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStaticCodeAnalysisService"
                contract="StaticCodeAnalysisService.IStaticCodeAnalysisService"
                name="WSHttpBinding_IStaticCodeAnalysisService">
                <identity>
                    <userPrincipalName value="320052456@code1.emi.philips.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>